@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-input {
    @apply w-full rounded-lg border-1 border-gray-400 px-2 py-3 pl-10 text-sm focus:outline-none focus:ring-1;
  }

  .custom-input-2 {
    @apply block w-full appearance-none rounded-lg border-1 border-gray-300 bg-gray-200 px-4 py-2 text-gray-700 focus:shadow-outline focus:outline-none;
  }

  button {
    @apply focus:outline-none;
  }
  label {
    @apply mb-1 block text-sm font-normal uppercase tracking-wide;
  }
  input:checked  {
    @apply border-primary text-primary;
  }


  .btn-secondary {
    @apply rounded-lg
    border-1
    border-white
    px-6
    py-1.5
    text-center
    text-sm
    font-bold
    text-white
    transition
    duration-500 ease-in-out
    hover:bg-gray-800
    focus:outline-none;
  }
  .btn-primary {
    @apply rounded-lg bg-primary px-6 py-1.5 text-center text-sm font-bold text-white transition duration-500 ease-in-out hover:bg-gray-800 focus:outline-none;
  }
  .btn-featured-1 {
    @apply rounded-lg bg-secondary px-12 py-3 text-5 font-bold text-white transition duration-500 ease-in-out hover:bg-primary focus:outline-none;
  }

  .with-border {
    @apply rounded-sm border-1 border-gray-200;
  }

  .item-center {
    @apply flex items-center justify-items-center;
  }

  .toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #68d391;
  }
  .toggle-checkbox:checked + .toggle-label {
    @apply: bg-green-400;
    background-color: #68d391;
  }
}

@layer base {
  /* h1 {
    @apply font-bold text-8;
  }
  h2 {
    @apply font-bold text-7;
  }
  h3 {
    @apply font-bold text-6;
  }
  h4 {
    @apply font-semibold text-5;
  }
  h5 {
    @apply text-4.5 font-semibold;
  } */
}

html {
  @apply font-sans;
}

/* Light */
@font-face {
  font-family: "HankenSans";
  font-weight: 300;
  font-style: normal;
  src: url("/assets/fonts/hanken-sans/HankenSans-Light.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/hanken-sans/HankenSans-Light.woff2") format("woff2"),
    url("/assets/fonts/hanken-sans/HankenSans-Light.woff") format("woff");
}

@font-face {
  font-family: "HankenSans";
  font-weight: 300;
  font-style: italic;
  src: url("/assets/fonts/hanken-sans/HankenSans-LightItalic.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/hanken-sans/HankenSans-LightItalic.woff2")
      format("woff2"),
    url("/assets/fonts/hanken-sans/HankenSans-LightItalic.woff") format("woff");
}

/* Regular */
@font-face {
  font-family: "HankenSans";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/hanken-sans/HankenSans-Regular.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/hanken-sans/HankenSans-Regular.woff2") format("woff2"),
    url("/assets/fonts/hanken-sans/HankenSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "HankenSans";
  font-weight: 400;
  font-style: italic;
  src: url("/assets/fonts/hanken-sans/HankenSans-Italic.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/hanken-sans/HankenSans-Italic.woff2") format("woff2"),
    url("/assets/fonts/hanken-sans/HankenSans-Italic.woff") format("woff");
}

/* Medium */
@font-face {
  font-family: "HankenSans";
  font-weight: 500;
  font-style: normal;
  src: url("/assets/fonts/hanken-sans/HankenSans-Medium.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/hanken-sans/HankenSans-Medium.woff2") format("woff2"),
    url("/assets/fonts/hanken-sans/HankenSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "HankenSans";
  font-weight: 500;
  font-style: italic;
  src: url("/assets/fonts/hanken-sans/HankenSans-MediumItalic.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/hanken-sans/HankenSans-MediumItalic.woff2")
      format("woff2"),
    url("/assets/fonts/hanken-sans/HankenSans-MediumItalic.woff") format("woff");
}

/* Bold */
@font-face {
  font-family: "HankenSans";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/fonts/hanken-sans/HankenSans-Bold.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/hanken-sans/HankenSans-Bold.woff2") format("woff2"),
    url("/assets/fonts/hanken-sans/HankenSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "HankenSans";
  font-weight: 700;
  font-style: italic;
  src: url("/assets/fonts/hanken-sans/HankenSans-BoldItalic.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/hanken-sans/HankenSans-BoldItalic.woff2")
      format("woff2"),
    url("/assets/fonts/hanken-sans/HankenSans-BoldItalic.woff") format("woff");
}

/* ExtraBold */
@font-face {
  font-family: "HankenSans";
  font-weight: 800;
  font-style: normal;
  src: url("/assets/fonts/hanken-sans/HankenSans-ExtraBold.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/hanken-sans/HankenSans-ExtraBold.woff2")
      format("woff2"),
    url("/assets/fonts/hanken-sans/HankenSans-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "HankenSans";
  font-weight: 800;
  font-style: italic;
  src: url("/assets/fonts/hanken-sans/HankenSans-ExtraBoldItalic.eot"); /* IE9 Compat Modes */
  src: url("/assets/fonts/hanken-sans/HankenSans-ExtraBoldItalic.woff2")
      format("woff2"),
    url("/assets/fonts/hanken-sans/HankenSans-ExtraBoldItalic.woff")
      format("woff");
}
